.container {
  width: 350px;
  background-color: #3498db;
  margin-top: 30px;
  color: #2980b9;
  font-size: 18px;
  font-family: "Raleway", serif;
}

form {
  margin-top: 35px;
  margin-bottom: 10px;
}

.list-group-item {
  margin-top: 4px;
}

.btn {
  margin-left: 2px;
}

h3 {
  color: #ecf0f1;
  font-weight: bold;
}

input[type=text] {
  color: #2980b9;
  font-size: 20px;
  background-color: #ecf0f1;
}

.completed {
  text-decoration: line-through;
  color: #95a5a6;
}
